@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-night: #0C1926;
  --color-deep-ocean: #0D1B22;
  --color-forest-teal: #0F393C;

  /* Text / Light Shades */
  --color-mist: #DDDFFC;
  --color-fog: #BEC6E9;
  --color-lavender: #AFB5F9;

  /* Accent Colors */
  --color-slate: #182F3D;
  --color-stone: #70787A;
  --color-cocoa: #6E4A3B;
  --color-orchid: #9662A8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


